@font-face {
    font-family: Oswald;
    src: url("fonts/Oswald.ttf") format("truetype");
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    user-select: none;
    height: 80vh;
    background: white;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.copy-button:hover {
    cursor: pointer;
}

.status {
    margin-bottom: 10px;
}

.square {
    border: 1px solid #999;
    float: left;
    height: 9vh;
    margin-right: -1px;
    margin-top: -1px;
    width: 9vh;
    transition: 0.1s ease-out all;
}

.square:focus {
    outline: none;
}

.vertical-row-number {
    line-height: 9vh;
    height: 9vh;
    width: 25px;
    text-align: center;
    font-size: large;
    float: left;
}

.horizontal-row-number {
    width: 9vh;
    height: 25px;
    line-height: 25px;
    margin-right: 1px;
    font-size: large;
    float: left;
}

.empty-square {
    height: 25px;
    width: 25px;
    margin-right: 1px;
    float: left;
}

.line {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.turn-highlight {
    background: black;
    color: white;
}

.game {
    display: flex;
    flex-direction: row;
}

.history {
    margin-top: 5px;
    height: 60vh;
    overflow-y: auto;
}

.game-info {
    margin-left: 20px;
    position: relative;
}

.game-board {
    position: relative;
}

.game-board.animated {
    transition: 1.5s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.white {
    background: white;
}

.black {
    background: dimgray;
}

.square:hover {
    background: darkgrey;
}

.white.highlight {
    border: salmon 4px solid;
    height: calc(9vh - 6px);
    width: calc(9vh - 6px);
}

.black.highlight {
    border: orangered 4px solid;
    height: calc(9vh - 6px);
    width: calc(9vh - 6px);
}

.code-input {
    margin-bottom: 10px;
    font: 14px "Century Gothic", Futura, sans-serif;
    outline: none;
}

.error {
    color: maroon;
}

button {
    position: relative;
    font: 14px Oswald, Futura, sans-serif;
    background: white;
    width: max-content;
    padding: 4px 8px;
    margin: 8px 8px;
    border: darkgray 1px solid;
    color: #0f1923;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

button:hover {
    color: #ece8e1;
    transition: 0.5s ease-out all;
    background: lightslategray;
}

.subtitle {
    font-size: large;
    font-weight: bold;
}

button:before {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    left: -1px;
    top: -1px;
    background: white;
    position: absolute;
    transition: 0.5s ease-out all;
}

button:hover:before {
    background: transparent;
    transition: 0.5s ease-out all;
}

button:after {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    bottom: -1px;
    right: -1px;
    background: white;
    position: absolute;
}

.rules-text {
    max-width: 50vw;
    overflow-y: auto;
    max-height: 73vh;
}

button:hover:after {
    background: darkgray;
    transition: 0.5s ease-out all;
}

.copyable {
    user-select: text;
}

.fullscreen-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    background: white;
    padding: 4px;
    border: darkgrey 2px solid;
    transform: translate(-50%, -50%);
}

.exit-button {
    position: absolute;
    bottom: 0;
}

/*для дебажного ассистента*/
input#voice, .bubble, .suggest {
    color: black !important;
}