body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    border: 1px solid #999;
    float: left;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    width: 68px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.white {
    background: white;
}

.black {
    background: dimgray;
}

.white.highlight {
    border: salmon 4px solid;
    height: 62px;
    width: 62px;
}

.black.highlight {
    border: orangered 4px solid;
    height: 62px;
    width: 62px;
}

button {
    background: gainsboro;
    width: max-content;
    padding-left: 4px;
    padding-right: 4px;
    margin: 8px 8px;
    border: darkgray 2px solid;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
}